* {
    font-family: Sen, Arial, sans-serif;
    text-align:center;
}

button {
    text-align: center;
    height:50px;
    font-size:25px;
    border:none;
    background: none;
}

.hidden-message {
    display:none;
    font-size: 20px;
    color: red;
}

.highlight {
    background-color:yellowgreen;
    size: 105%;
}

.backwards-text {
    transform: scale(1, -1);
    -moz-transform: scale(1, -1);
    -webkit-transform: scale(1, -1);
    -o-transform: scale(1, -1);
    -ms-transform: scale(1, -1);
    transform: scale(1, -1);
}

#head-left {
    position:absolute;
    float:initial;
    top: 0px;
    left: 50px;
    writing-mode: vertical-lr;
    text-orientation: upright;
    font-size: 55px;
}

#head-right {
    position:absolute;
    top: 0px;
    right: 50px;
    writing-mode: vertical-rl;
    text-orientation:upright;
    font-size: 55px;
}

#notepad {
    position: absolute;
    height:400px;
    width:150px;
    top: 20%;
    left: 15%;
    background-image: linear-gradient(0deg, #f5eec4 47.37%, #d6d3c5 47.37%, #d6d3c5 50%, #f5eec4 50%, #f5eec4 97.37%, #d6d3c5 97.37%, #d6d3c5 100%);
    background-size: 38.00px 38.00px;
    word-break:break-word;
    justify-content: space-between;
    word-spacing:150px;
}

#clear-pad-btn {
    position:absolute;
    left: 17%;
    top: 78%;
    font-size: 20px;
}

@media (max-width: 1008px) {
    #head-left {
        left: 10px;
    }
    #head-right {
        display: none;
    }
    #notepad {
        left:700px;
    }
    #clear-pad-btn {
        display: none;
    }
    #calculator-box {
        position: relative;
        left: 305px;
        margin: none;
        top: 200px;
        -ms-transform: none;
        transform: none;
    }
    .hidden-message {
        display:inline;
    }
}

#background {
    position: absolute;
    z-index:-1;
    height:100%;
    width:auto;
    left:60%;
    margin-top: 0px;
    text-align: left;
    word-wrap: break-word; 
    font-size: 60px;
    color:rgb(231, 229, 229);
    word-break: break-all;
}

#calculator-box {
    position: absolute;
    display: flexbox;
    z-index: 5;
    width: 400px;
    height: 525px;
    margin: 0;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border-style: solid;
    border-width:2px;
    border-radius: 5%;
}

#display {
    height: 50px;
    width:auto;
    margin: auto;
    text-align:center;
    font-size:50px;
    letter-spacing: 4px;
    margin-top: 20px;
}
#top-btns-box {
    display: grid;
    width: 100%;
    margin: auto;
    margin-top: 3%;
    grid-template-columns: 50% 50%;
 
}

#number-btns-box {
    display: grid;
    width: 100%;    
    margin: auto;
    margin-top: 5%;
    grid-template-columns: 33.3% 33.3% 33.3%;

}

#other-btns-box {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
   
    
}

.operator-btn {
    width: 70%;
    margin: auto;
    font-size: 25px;
    text-align: center;
    border: solid;
    border-width: 2px;
    border-radius: 10%;

}

#operator-btns-box {
    display: grid;
    width: 90%;
    margin: auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
}

#equal-btn {
    height: 100%;
    width: 70%;
    margin:auto;
    margin-top: 5%;grid-column: span 3;
    border: solid;
    border-width: 2px;
    border-radius: 10%;

}
